:root{
  --backgroundcolor: rgb(0,0,0);
  --elementcolor: rgb(21,24,28);
  --bordercolor: rgb(47,51,54);
}

#app {
  height: 100%;
}

body {
    margin: 0px;
    min-width: 600px;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--backgroundcolor);
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}



#main {
    flex: 1 0 auto;
    max-width: 1000px;
    width: 80%;
    margin: auto;
}

#main a {
    color: white;
}

input, textarea, select, button{
  background-color: var(--elementcolor);
  border-color: var(--bordercolor);
  color: white;
  border-radius: 15px;
  text-align: center;
  outline: none;
}

select {
  min-width: 10em;
}

button {
  margin: 10px;
  border-radius: 5px;
}
input {
  height: 3em;
}

#searchcontainer {
  margin-top: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  outline: none;
  z-index: 99; 
}

#searchcontainer input {
  width: 20em;
}

#searchlist {
  border: 2px solid var(--bordercolor);
  margin-top: -2px;
  border-radius: 5px;
}

.navbar{
    margin: 0px;
    margin-bottom: 50px;
}

.navbar, #footer {
    background-color: var(--elementcolor);
    display: flex;
    justify-content: space-evenly;
    height: 2.8em;
    line-height: 2.8em;
    color: white;
}

#footer {
    height: 5em;
    line-height: 5em;
    width: 100%;
    bottom: 0px;
    margin-top: 5em;
}

#footer img{
    height: 27.44px;
    width: auto;
    filter: brightness(0) invert(1);
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.framed {
    display: flex;
    border: solid 2px var(--bordercolor);
    padding: 10px;
    background-color: var(--elementcolor);
    color: white
}

.framed #text{
  width: 90%;
  margin: auto;
  position: relative;
}

.framed #text .buttoncontainer{
  position:absolute; 
  right: 0px; 
  top: 0px;
}

.framed #text span{
  width: 80%;
}

.fa {
    margin: 10px;
}

#searchlist {
  height: 5em;
  scrollbar-width: thin;
  overflow: scroll;
}